
/* Shared Styles  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.primary-color {
  color: #4E47FF;
}
.primary-btn{
  background-color: #4E47FF;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a{
  text-decoration: none;
}
main{
  background-color: #7772ff1a;
  padding: 0 200px;
}
section{
  padding: 100px 0px;
}
h3{
  font-size: 40px;
  font-weight: 700;
}
p{
  color: gray;
  padding: 10px 0px;
}

/* Header Styles */
header{
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  height: 700px;
  padding: 0 200px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  /* border: 1px solid black; */
}
nav h1{
  font-size: 34px;
  font-weight: 900;
}
.banner{
 height: 100%;
 width: 80%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}
.banner h2{
  
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}

/* Action Styles  */

.action{
  padding-top: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-col-1{
  width: 40%;
}
.action-col-2{
  display: flex;
  justify-content: end;
  width: 40%;
}
.action-col-2 img{
  border-radius: 20px;
}