
/* Shared Styles  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}
.primary-color {
  color: #4E47FF;
}
.primary-btn{
  background-color: #4E47FF;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
a{
  text-decoration: none;
}
main{
  background-color: #7772ff1a;
  padding: 0px 200px 0px;

}
section{
  padding: 100px 0 100px;
}
h3{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
p{
  color: gray;
  padding: 10px 0px;
}

/* Header Styles */
header{
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
  height: 700px;
  padding: 0 200px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  /* border: 1px solid black; */
}
nav h1{
  font-size: 34px;
  font-weight: 900;
}
.banner{
 height: 100%;
 width: 80%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}
.banner h2{
  
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}

/* Action Styles  */

.action{
  padding-top: 100px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-col-1{
  width: 40%;
}
.action-col-2{
  display: flex;
  justify-content: end;
  width: 40%;
}
.action-col-2 img{
  border-radius: 20px;
}
/* Users Styles  */
.users{
  background-color: #4E47FF1A;
  padding: 50px 100px;
  border-radius: 40px;
}
.users h4{
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}
.users-content{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.users-content h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  font-weight: 900;
}
/* Users reviews Styles  */
.review-card{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}
.reviews h3{
  text-align: center;
  margin-bottom: 50px;
}
.reviews-content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.review-card .img{
  padding-top: 25px;
}

/* Ready to Focus Styles */
.Focus-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
.Focus-container img{
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
}

/* Get in Touch Styles  */

.get-in-touch-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-in-touch-container h2{
  font-size: 80px;
  font-weight: 700;
  width: 45%;
}

.get-in-touch-container .get-in-touch-form-input{
  width: 45%;

}
form{
   display: flex;
  flex-direction: column;
}
.get-in-touch-form-input label{
  font-weight: 600;
  margin: 0 5px;
}
.get-in-touch-form-input input{
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}
.get-in-touch-form-input textarea{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;

}
.get-in-touch-btn{
  width: 100%;
  margin-top: 20px;
}
/* Footer Styles  */
footer{
  text-align: center;
  padding: 50px 0;

}
footer h2{
  font-size:80px;
  font-weight: 800;
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
}
footer ul li a {
  color: gray;
  font-weight: 600;
}